<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a href="/" class="navbar-brand">GuiaPress</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="display: flex; gap: 20px;">
                <a class="nav-link" href="/admin/categories">Categorias</a>
                <a class="nav-link" href="/admin/articles/new">Artigos</a>
            </li>
        </ul>
    </div>

</nav>